### Android SDK 国内镜像源配置 ###

# 清华大学镜像 (推荐)
https://mirrors.tuna.tsinghua.edu.cn/android/repository/repository2-3.xml
https://mirrors.tuna.tsinghua.edu.cn/android/repository/addons_list-6.xml

# 腾讯镜像
https://mirrors.cloud.tencent.com/android/repository/repository2-3.xml

# 阿里云镜像
https://mirrors.aliyun.com/android/repository/repository2-3.xml

# 官方源 (备用)
https://dl.google.com/android/repository/repository2-3.xml
